.body {
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#footer {
  height: 5vh;
}

.menu {
  padding: 20px;
  background-color: aliceblue;
  box-shadow: 2px 2px 4px #9ab;
}
.rightCol {
  max-height: 100vh;
}
.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header {
  padding: 20px;
  box-shadow: 0 2px 4px #ddd;
  flex: 1;
}

.topButtons {
  justify-content: flex-end;
}

.menuItem {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  flex: 20;
  overflow-y: scroll;
}

.gallery {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.imageLabel {
  width: min-content;
}

/* CSS for Tablets */
@media screen and (max-width: 768) {
  .mainBody {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .menu {
    flex-direction: row;
  }
}

/* CSS for Phones */
@media screen and (max-width: 600px) {
  .body {
    overflow: auto;
  }
  .mainBody {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}