#songs {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.song {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0.5rem 0;
  cursor: pointer;
}
.song > .info {
  flex: 1;
  margin: 0.5rem;
}
.song > .info > * {
  margin: 0;
}
.song > .actions {
  opacity: 0;
}
.song > .handle {
  cursor: grab;
  opacity: 0;
}
.song:hover > .actions,
.song:hover > .handle {
  opacity: 1;
}

#playlist-title {
  border: none;
  font-size: 2rem;
}
#delete-playlist {
  cursor: pointer;
}
